
/* SAMPLE INPUT*/
INSERT INTO basicoption1(year,serial) VALUES ("2006","1");
INSERT INTO basicoption1(year,serial) VALUES ("2006","2");
INSERT INTO basicoption1(year,serial) VALUES ("2006","3");




INSERT INTO basicoption2(type,subject) VALUES ("A형","도시계획론");
INSERT INTO basicoption2(type,subject) VALUES ("B형","도시계획론");
INSERT INTO basicoption2(type,subject) VALUES ("A형","도시설계 및 단지계획");



-- 1과목 도시계획론
INSERT INTO classification(subject,large,medium,small) 
VALUES ("도시계획론","1. 도시의 개념 및 도시발달","1. 도시와 도시문제","1. 도시의 개념과 정의");
INSERT INTO classification(subject,large,medium,small) 
VALUES ("도시계획론","1. 도시의 개념 및 도시발달","1. 도시와 도시문제","2. 도시의 구성요소");
INSERT INTO classification(subject,large,medium,small) 
VALUES ("도시계획론","1. 도시의 개념 및 도시발달","1. 도시와 도시문제","3. 도시화와 도시문제");







--2 과목 도시설계 및 단지계획







-- 3과목 도시개발론







-- 4과목 
--INSERT INTO classification(subject,large,medium,small) 
--VALUES ("국토 및 지역계획","","","");


INSERT INTO problemheader(year,serial,type,subject,classify,level,large,medium,small,pNum)
		VALUES ("2006","1","A형","도시계획론","app","high","1. 도시의 개념 및 도시발달","1. 도시와 도시문제","1. 도시의 개념과 정의",2);
INSERT INTO problemheader(year,serial,type,subject,classify,level,large,medium,small,pNum)
		VALUES ("2006","1","A형","도시계획론","basic","normal","1. 도시의 개념 및 도시발달","1. 도시와 도시문제","1. 도시의 개념과 정의",0);





INSERT INTO problembody(problem,addition,choice1,choice2,choice3,choice4,keyword,solution)
		VALUES("문제내용","추가사항(그림)","보기1","보기2","보기3","보기4","K","S");
INSERT INTO problembody(problem,addition,choice1,choice2,choice3,choice4,keyword,solution)
		VALUES("문제내용2","추가사항(그림)","보기1","보기2","보기3","보기4","K","S");






show tables;
SELECT * FROM basicoption1;
SELECT * FROM basicoption2;
SELECT * FROM classification;
SELECT * FROM problemheader;
SELECT * FROM problembody;